
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-style: solid;
  border-color: rgb(68, 98, 233);
  border-width: thick;
  margin-top: 50px;

}

 td, th {
  border: 1px solid #ddd;
  padding: 8px;
}


 tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0f2753;
  color: white;
}

 .green {
    background-color: #1f9e54;
}
